In [1]:
import os

In [2]:
print(os.listdir())

['.ipynb_checkpoints', 'Decision Tree Making.html', 'Decision Tree Making.ipynb', 'Decision Tree Making.py', 'groupStudy.csv']

In [3]:
# importing required libraries
import numpy as np
import pandas as pd

In [4]:
# Load the Data Set from the csv file
dataSet = pd.read_csv('groupStudy.csv')

In [5]:
dataSet

   Position  Hours of study  Marks scored
0   Group-1               1            45
1   Group-2               2            50
2   Group-3               3            60
3   Group-4               4            80
4   Group-5               5           110
5   Group-6               6           150
6   Group-7               7           200
7   Group-8               8           300
8   Group-9               9           500
9  Group-10              10          1000

In [6]:
# selecting the row and columns to be used
hours = dataSet['Hours of study']
marks = dataSet['Marks scored']

In [7]:
# reshaping the matrix
X = np.array(hours).reshape(-1, 1)
y = np.array(marks).reshape(-1, 1)

In [8]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X, y)
y_predicted  = regressor.predict(np.array(5).reshape(-1, 1))

In [9]:
y_predicted

array([110.])